*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #1d1d1d;
}

li {
  list-style: none;
}

a {
  color: #4db6e2;
}